@model TransaccionActualizacionViewModel

@{
    ViewData["Title"] = "Edita Transaccion";
    var linkCancelar = Model.UrlRetorno ?? Url.Action("Index");
}

<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Editar <strong
                                                    style="color: #6f42c1;">Transacción</strong></h1>
            <h5 class="text-muted text-center mb-4">Aquí puedes ajustar los datos de un ingreso o gasto previamente
                registrado.</h5>

            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UrlRetorno" />
                <input type="hidden" asp-for="MontoAnterior" />
                <input type="hidden" asp-for="CuentaAnteriorId" />

                <div class="mb-3">
                    <label asp-for="FechaTransaccion" class="form-label"></label>
                    <input asp-for="FechaTransaccion" class="form-control" />
                    <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CuentaId" class="form-label"></label>
                    <select asp-for="CuentaId" asp-items="Model.Cuentas" class="form-select"></select>
                    <span asp-validation-for="CuentaId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="TipoOperacionId" class="form-label"></label>
                    <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()"
                            class="form-select"></select>
                    <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoriaId" class="form-label"></label>
                    <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-select"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Monto" class="form-label"></label>
                    <input asp-for="Monto" class="form-control" />
                    <span asp-validation-for="Monto" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Nota" class="form-label"></label>
                    <textarea asp-for="Nota" class="form-control"></textarea>
                    <span asp-validation-for="Nota" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary">Actualizar</button>
                    <button class="btn btn-danger" asp-action="Borrar">Borrar</button>
                    <a class="btn btn-secondary" href="@linkCancelar">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="image-container5">
    <img src="~/img/edicatCat.svg" alt="Imagen visual" class="img-fluid" />
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>

    <script>

        const urlObtenerCategorias = '@Url.Action("ObtenerCategorias")';

        $(function () {
            IniciarlizarFormularioTransacciones(urlObtenerCategorias);
        });

    </script>
}
