@model ResumenMontoViewModel

@{
    string FomatearBalance(decimal balance)
    {
        return Math.Abs(balance).ToString("N");
    }
}

<div class="contenedor-totales">
    <div>
        <div>
            <strong>Depositos</strong>
        </div>
        <div class="activo">
            $@Model.Ingresos.ToString("N")
        </div>
    </div>

    <div>
        <div>
            <strong>Retiros</strong>
        </div>
        <div class="pasivo">
            $@FomatearBalance(Model.Gastos)
        </div>
    </div>

    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div class="total">
            @(Model.Total < 0 ? "-$" + Math.Abs(Model.Total).ToString("N") : "$" + Model.Total.ToString("N"))
        </div>
    </div>
</div>