@model Categoria

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Editar <strong
                    style="color: #6f42c1;">Categoria</strong>
            </h1>
            <h5 class="text-muted text-center mb-4">La categoría nos permite indicar en qué gastamos nuestro dinero y de
                dónde provienen nuestros ingresos</h5>

            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>
                <input type="hidden" asp-for="Id" />

                <!-- Nombre -->
                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ej. Comida" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <!-- Tipo de operación -->
                <div class="mb-4">
                    <label asp-for="TipoOperacionId" class="form-label">Tipo de operación</label>
                    <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()"
                            class="form-select">
                        <option value="">Seleccione el tipo</option>
                    </select>
                    <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Editar</button>
                    <a class="btn btn-secondary" asp-action="Categorias">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="image-container2">
    <img src="~/img/edicatCat.svg" alt="Imagen visual" class="img-fluid" />
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}