@model TipoCuenta

@{
    ViewData["Title"] = "Borrar tipo cuenta";
}
<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Está seguro que desea borrar el tipo cuenta <strong
                    style="color: #6f42c1;">@Model.Nombre?</strong>
            </h1>

            <form asp-action="BorrarTipoCuenta">
                <input type="hidden" asp-for="Id">

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger">Borrar</button>
                    <a class="btn btn-secondary" asp-action="TiposCuentas">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="image-container3">
    <img src="~/img/borrarCat.svg" alt="Imagen visual" class="img-fluid" />
</div>
