.contenedor-totales[b-a2c2wa7900] {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo[b-a2c2wa7900] {
    color: blue;
}

.pasivo[b-a2c2wa7900] {
    color: red;
}



.accordion-cuentas[b-a2c2wa7900] {
    color: black !important;
    font-size: 20px;
}

.accordion-cuentas button span[b-a2c2wa7900] {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.accordion-cuentas ul li[b-a2c2wa7900] {
    display: flex;
    justify-content: space-between;
}

.accordion-cuentas .accordion-collapse[b-a2c2wa7900]{
    font-size: 18px;
}