@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Movimientos Cuenta";
}

<div class="categoria-wrapper pt-4 pb-2">
    <div class="d-flex justify-content-between align-items-start mb-4">
        <div>
            <h1 class="fw-bold mb-1">Movimientos <strong style="color: #6f42c1;">@ViewBag.Cuenta</strong></h1>
            <p class="text-muted">Aquí podrás ver todos los movimientos realizados con tu cuenta
                <strong style="color: #6f42c1;">@ViewBag.Cuenta</strong>. Consulta los depósitos, retiros y el saldo
                actualizado.</p>
        </div>
    </div>
</div>


<partial name="_ReporteTransaccionesDetalladas" model="Model" />